
.container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
}

.restaurantesContainer {
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
    margin: auto;
}
    
.listaRestaurantes { 
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    
    overflow-y: auto;
}
.mapa { 
    grid-column: span 5 / span 5;
    grid-row: span 6 / span 6;
}
.botones {
    grid-column: span 7 / span 7;
    grid-row-start: 7;
    
    display: flex;               
    justify-content: flex-end;   
    gap: 20px;                   
    padding-right: 20px;
    align-items: center; 
    gap: 20px;
    padding: 10px 20px;      
    height: auto;            
    box-sizing: border-box;
}
    
.botones button {
    padding: 10px 15px;
    margin: 0;
}