<div class="container">
    <div class="restaurantesContainer">
        
        <div class="listaRestaurantes"> 
            @for (restaurant of restaurantes; track restaurant.name) {
                <li (click)="seleccionarRestaurante(restaurant)"> 
                    <item-restaurant [nombre]="restaurant.name" [numero]="restaurant.number"> </item-restaurant>
                </li>
            } @empty {
            <li>There are no items.</li>
            }
        </div>
        
        <div class="mapa"> 
            <mapa-restaurants [restaurantes]="restaurantes" [restauranteSeleccionado]="restauranteSeleccionado"> </mapa-restaurants>
        </div>
        <div class="botones"> 
            <button (click)="centrar()"> Centrar en ubicación </button>
            <button (click)="buscarRestaurantes()"> Buscar todos los restaurantes </button>
            <button> Buscar restaurantes cercanos </button>
        </div>
    </div>
</div>