
<div class="formContainer"> 
    <form (ngSubmit)="submitForm()" [formGroup]="restauranteForm">
        <label for="name">Nombre del Restaurante:</label>
        <input id="name" formControlName="name" required />
      
        <label for="number">Número de Contacto:</label>
        <input id="number" formControlName="number" required />
      
        <label for="location">Coordenadas (separadas por comas):</label>
        <input id="location" formControlName="location" required />
    
        <label for="logoUrl">URLs de imagen de logo:</label>
        <input id="logoUrl" formControlName="logoUrl" required />

        <label for="images">URLs de Imágenes (separadas por comas):</label>
        <input id="images" formControlName="images" required />
      
        <label for="menu">Menú ({{'{'}}Nombre, Precio {{'}'}}, {{'{'}}Nombre, Precio {{'}'}}, ...):</label>
        <input id="menu" formControlName="menu" required />
    
        <label for="numberOfTables">Cantidad de Mesas:</label>
        <input id="numberOfTables" formControlName="number" required />
    
        <button type="submit">Agregar Restaurante</button>
    </form>
</div>
  