<div class="container">
    <div class="restaurantesContainer">
        
        <div class="listaRestaurantes"> 
            @for (restaurant of restaurantes; track restaurant.name) {
                <li (click)="seleccionarRestaurante(restaurant)"> 
                    <item-restaurant [datos]="restaurant"> </item-restaurant>
                </li>
            } @empty {
            <li><p style="color: #cc5500; font-size: 20px"> Ningún restaurante coincide con los filtros </p></li>
            }
        </div>
        
        <div class="mapa"> 
            <mapa-restaurants [restaurantes]="restaurantes" [restauranteSeleccionado]="restauranteSeleccionado"> </mapa-restaurants>
        </div>
        <div class="botones"> 
            <button (click)="centrar()"> Centrar en ubicación </button>
            <button (click)="buscarRestaurantes()"> Buscar todos los restaurantes </button>
            <button (click)="buscarRestaurantesCercanos()"> Buscar restaurantes cercanos </button>
        </div>
    </div>
</div>