<div class="container">
    <input type="text" placeholder="Ingrese su nombre" class="name-input" />
    
    <div class="imageContainer">
        <img src="assets/morpheusredblue.jpg" alt="Morpheus offering pills" />
    </div>

    <nav>
        <ul>
            <li><a style="color: red" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">User</a></li>
            <li><a style="color: blue" routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a></li>
        </ul>
    </nav>
</div>
